:root {
	--bg: #eee;
	--c: #111;
	--a: #06d;
	--ah: #60d;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #111;
		--c: #fff;
		--a: #9cf;
		--ah: #c9f;
	}
}
body {
	font-family: serif;
	margin: 0rem auto;
	padding: 1rem;
	max-width: 72ch;
	line-height: 1.78;
	background-color: var(--bg);
	color: var(--c);
}
nav, h1 {
	text-align: center;
}
a {
	color: var(--a);
	text-decoration: none;
}
a:hover {
	color: var(--ah);
}
a:visited {
	color: var(--ah);
}
pre {
	border: 1px solid var(--a);
	padding: 1rem;
	overflow: scroll;
	tab-size: 4ch;
	white-space: pre-wrap;
}
p code, li code {
	color: var(--bg);
	background-color: var(--c);
}
img {
	width: 90%;
	margin: auto;
	display: block;
}
blockquote {
	border-left: 4px solid var(--c);
	padding-left: 1em;
}
footer {
	text-align: right;
}
svg {
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
}
